<form (ngSubmit)="onSubmit()">
<div class="input-group mb-3 m-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Enter positive integer</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="positiveInteger" placeholder="positive integer" name="pInteger" aria-label="positive integer" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3 m-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Enter single digit</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="firstSingleDigit" placeholder="single digit" name="fDigit" aria-label="single digit" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3 m-4">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Enter single digit</span>
  </div>
  <input type="text" class="form-control" [(ngModel)]="secondSingleDigit" placeholder="single digit" name="sDigit" aria-label="single digit" aria-describedby="basic-addon1">
</div>
<button type="submit" class="btn btn-success m-4">Submit</button>
</form>
<div *ngIf="answer"  ngclass="alert alert-primary m-4" role="alert">
    {{answer}}
</div>

